body {
  overflow-x: hidden;
  background-image: url("../Images/walpaperResult.jpg");
  background-attachment: fixed; }

#navbar {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.5); }
  #navbar .Logo span.logo1 {
    color: #36b389;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
    #navbar .Logo span.logo1 i.fa {
      font-size: 34px;
      padding-right: 1%; }
  #navbar .Logo span.logo2 {
    color: white;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
  #navbar .userInfo {
    text-align: right; }
    #navbar .userInfo ul li {
      display: inline-block;
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      color: white; }
      #navbar .userInfo ul li a {
        color: #36b389; }

@media only screen and (min-width: 320px) and (max-width: 359px) {
  #navbar .Logo span.logo1 {
    font-size: 15px !important; }
    #navbar .Logo span.logo1 .fa {
      font-size: 15px !important; }
  #navbar .Logo span.logo2 {
    font-size: 15px !important; }
  #navbar .userInfo ul li {
    font-size: 10px !important; } }
@media only screen and (min-width: 360px) and (max-width: 374px) {
  #navbar .Logo span.logo1 {
    font-size: 15px !important; }
    #navbar .Logo span.logo1 .fa {
      font-size: 15px !important; }
  #navbar .Logo span.logo2 {
    font-size: 15px !important; }
  #navbar .userInfo ul li {
    font-size: 10px !important; } }
@media only screen and (min-width: 375px) and (max-width: 410px) {
  #navbar .Logo span.logo1 {
    font-size: 15px !important; }
    #navbar .Logo span.logo1 .fa {
      font-size: 15px !important; }
  #navbar .Logo span.logo2 {
    font-size: 15px !important; }
  #navbar .userInfo ul li {
    font-size: 10px !important; } }
@media only screen and (min-width: 411px) and (max-width: 413px) {
  #navbar .Logo span.logo1 {
    font-size: 15px !important; }
    #navbar .Logo span.logo1 .fa {
      font-size: 15px !important; }
  #navbar .Logo span.logo2 {
    font-size: 15px !important; }
  #navbar .userInfo ul li {
    font-size: 10px !important; } }
@media only screen and (min-width: 414px) and (max-width: 767px) {
  #navbar {
    padding-bottom: 0.5%; }
    #navbar .Logo span.logo1 {
      font-size: 15px !important; }
      #navbar .Logo span.logo1 .fa {
        font-size: 15px !important; }
    #navbar .Logo span.logo2 {
      font-size: 15px !important; }
    #navbar .userInfo ul li {
      font-size: 10px !important; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #navbar .userInfo {
    padding-top: 1%; } }
@media only screen and (max-width: 1024px) {
  #reservation {
    height: 71.2vh; }
    #reservation .reservMain {
      margin-top: 31%; }

  #navbar .userInfo {
    padding-top: 1%; } }
#footerBlack {
  color: white;
  background-color: black;
  font-size: 16px;
  font-family: 'Lato', sans-serif; }
  #footerBlack .container .row .leftSide {
    padding: 0; }
    #footerBlack .container .row .leftSide ul {
      margin-bottom: 0;
      padding: 0; }
      #footerBlack .container .row .leftSide ul li {
        padding-top: 3%;
        list-style: none;
        display: inline-block; }
        #footerBlack .container .row .leftSide ul li p a {
          color: white; }
  #footerBlack .container .row .rightSide {
    padding: 0;
    padding-top: 3%;
    position: relative;
    padding-left: 25%;
    float: right; }
    #footerBlack .container .row .rightSide hr {
      padding: 0.5px;
      background-color: #fff;
      color: #fff;
      width: 10%;
      position: absolute;
      top: 23%;
      left: 68%;
      transform: rotate(90deg); }
    #footerBlack .container .row .rightSide ul li {
      display: inline; }
      #footerBlack .container .row .rightSide ul li a {
        color: white; }

@media screen and (min-width: 320px) and (max-width: 1023px) {
  #footerBlack .leftSide {
    text-align: center; }
    #footerBlack .leftSide ul li {
      display: block !important; }
  #footerBlack .rightSide {
    float: unset !important;
    padding-left: 0% !important;
    text-align: center; } }
.scrollToTop {
  width: 70px;
  height: 70px;
  position: fixed;
  top: 89%;
  right: 1%;
  background-image: url("../Images/upGreen.png");
  background-size: contain;
  background-position: center;
  z-index: 9999;
  box-shadow: 0px 0px 50px 5px #36b389;
  border-radius: 50%; }

@media screen and (min-width: 320px) and (max-width: 359px) {
  .scrollToTop {
    width: 50px !important;
    height: 50px !important; } }
@media screen and (min-width: 360px) and (max-width: 374px) {
  .scrollToTop {
    width: 50px !important;
    height: 50px !important;
    top: 91% !important; } }
@media screen and (min-width: 375px) and (max-width: 413px) {
  .scrollToTop {
    width: 50px !important;
    height: 50px !important;
    top: 93% !important; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .scrollToTop {
    width: 70px !important;
    height: 70px !important;
    top: 92% !important; } }
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .scrollToTop {
    width: 70px !important;
    height: 70px !important;
    top: 89% !important; } }
#leftSide {
  margin-bottom: 10%; }
  #leftSide .reservMain {
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 5%; }
    #leftSide .reservMain .reserv {
      padding-top: 4%; }
      #leftSide .reservMain .reserv .reservSklet {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 1px solid black;
        background: rgba(0, 0, 0, 0.5);
        padding-bottom: 5%;
        margin-bottom: 5%; }
        #leftSide .reservMain .reserv .reservSklet .reservHotel marquee {
          padding-top: 3%;
          padding-bottom: 1%;
          color: white;
          font-family: 'Source Serif Pro', serif;
          font-size: 10px; }
        #leftSide .reservMain .reserv .reservSklet .reservHotel label {
          color: white; }
        #leftSide .reservMain .reserv .reservSklet .reservHotel input, #leftSide .reservMain .reserv .reservSklet .reservHotel select {
          width: 100%;
          padding: 7px;
          border: 0.8px solid #c9c8c8; }
        #leftSide .reservMain .reserv .reservSklet .reservHotel input.btn {
          background-color: rgba(54, 179, 137, 0.8);
          font-family: 'Source Serif Pro', serif;
          font-weight: 500;
          color: white; }
          #leftSide .reservMain .reserv .reservSklet .reservHotel input.btn:hover {
            transition: all 0.3s ease;
            background: white;
            color: #36b389;
            border: 1px solid #36b389; }
  #leftSide .part2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0;
    border: 1px solid black; }
    #leftSide .part2 .header {
      background-color: rgba(54, 179, 137, 0.8);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: white;
      padding: 8px 10px; }
      #leftSide .part2 .header h3 {
        margin-bottom: 0px;
        font-size: 25px;
        font-family: 'Source Serif Pro', serif; }
    #leftSide .part2 .budget {
      background: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 5%; }
      #leftSide .part2 .budget p {
        font-size: 1.5em; }
      #leftSide .part2 .budget ul li {
        padding-top: 5%;
        position: relative; }
        #leftSide .part2 .budget ul li span {
          left: 15%;
          position: absolute; }
    #leftSide .part2 .rating {
      background: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 5%;
      padding-top: 0%; }
      #leftSide .part2 .rating p {
        font-size: 1.5em; }
      #leftSide .part2 .rating ul li {
        padding-top: 5%;
        position: relative; }
        #leftSide .part2 .rating ul li span {
          left: 15%;
          position: absolute; }
        #leftSide .part2 .rating ul li .stars {
          padding-left: 18%; }
          #leftSide .part2 .rating ul li .stars .star {
            color: silver;
            color: #faa61a;
            cursor: pointer;
            padding-left: 4%; }
    #leftSide .part2 * {
      box-sizing: border-box; }
    #leftSide .part2 #check {
      display: inline-block;
      width: 22px;
      height: 22px;
      border: solid 1px white;
      border-radius: 5px;
      position: relative;
      background: white; }
      #leftSide .part2 #check label {
        height: 20px;
        width: 40px;
        z-index: 0;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0; }
        #leftSide .part2 #check label div {
          height: 15px;
          width: 15px;
          border: solid 1.5px black;
          margin: 2px;
          border-radius: 50%;
          transform: rotate(45deg);
          transition: all 100ms ease-in-out, border 50ms ease 100ms; }
      #leftSide .part2 #check input {
        height: 20px;
        width: 20px;
        margin: 0;
        opacity: 0;
        z-index: 1;
        position: relative;
        cursor: pointer; }
        #leftSide .part2 #check input:checked + label > div {
          border-radius: 0;
          border-top: 0;
          border-left: 0;
          border-color: #000;
          height: 15px;
          width: 5px;
          margin-top: 2px;
          margin-left: 7px;
          transform: rotate(40deg);
          transition: all 150ms ease-in-out; }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #leftSide .part2 .budget ul li span {
    font-size: 13px; }
  #leftSide .part2 .rating ul li span {
    font-size: 13px; }
  #leftSide .part2 .rating ul li .stars {
    padding-left: 21% !important; } }
.rightSide #rightSide {
  margin-top: 4%; }
  .rightSide #rightSide .header h3 {
    color: white;
    font-size: 35px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa; }
  .rightSide #rightSide .headerBtn {
    text-align: center;
    margin-top: 3%; }
    .rightSide #rightSide .headerBtn button {
      font-size: 20px;
      background-color: rgba(54, 179, 137, 0.8);
      font-family: 'Source Serif Pro', serif;
      font-weight: 500;
      color: white;
      cursor: pointer;
      width: 30%;
      padding: 7px;
      border: 0.8px solid #c9c8c8; }
      .rightSide #rightSide .headerBtn button:hover {
        transition: all 0.3s ease;
        background: white;
        color: #36b389;
        border: 1px solid #36b389; }
  .rightSide #rightSide .hotelList .hotelInfo {
    margin-top: 10%; }
    .rightSide #rightSide .hotelList .hotelInfo .hotel {
      margin-bottom: 4%;
      padding: 2%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid black;
      background: rgba(0, 0, 0, 0.5); }
      .rightSide #rightSide .hotelList .hotelInfo .hotel .img img {
        width: 100%;
        height: 150px;
        border-radius: 7px;
        cursor: pointer; }
      .rightSide #rightSide .hotelList .hotelInfo .hotel .info {
        text-align: center; }
        .rightSide #rightSide .hotelList .hotelInfo .hotel .info a {
          text-decoration: none; }
        .rightSide #rightSide .hotelList .hotelInfo .hotel .info h3 {
          color: #aaa; }
          .rightSide #rightSide .hotelList .hotelInfo .hotel .info h3:hover {
            cursor: pointer;
            color: #36b389; }
        .rightSide #rightSide .hotelList .hotelInfo .hotel .info p {
          color: white;
          font-size: 20px;
          font-weight: 600;
          padding-top: 1%;
          padding-bottom: 2%;
          margin: 0; }
        .rightSide #rightSide .hotelList .hotelInfo .hotel .info .hotelStars {
          color: #faa61a;
          cursor: pointer; }
        .rightSide #rightSide .hotelList .hotelInfo .hotel .info button {
          font-size: 15px;
          background-color: rgba(54, 179, 137, 0.8);
          font-family: 'Source Serif Pro', serif;
          font-weight: 500;
          color: white;
          cursor: pointer;
          padding: 7px;
          border: 0.8px solid #c9c8c8; }
          .rightSide #rightSide .hotelList .hotelInfo .hotel .info button:hover {
            transition: all 0.3s ease;
            background: white;
            color: #36b389;
            border: 1px solid #36b389; }
  .rightSide #rightSide .pagination {
    margin-top: 9%; }
    .rightSide #rightSide .pagination li a {
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid black;
      transition: all 0.3s ease; }
      .rightSide #rightSide .pagination li a:hover {
        background-color: rgba(54, 179, 137, 0.8); }

@media screen and (min-width: 320px) and (max-width: 359px) {
  #rightSide .header h3 {
    font-size: 22px !important;
    padding-bottom: 5%; }
  #rightSide .headerBtn button {
    font-size: 12px !important;
    width: 49% !important; }
  #rightSide .hotelList .hotelInfo .hotel .info a h3 {
    font-size: 25px; } }
@media screen and (min-width: 360px) and (max-width: 410px) {
  #rightSide .header h3 {
    font-size: 25px !important;
    padding-bottom: 5%; }
  #rightSide .headerBtn button {
    font-size: 12px !important;
    width: 49% !important; }
  #rightSide .hotelList .hotelInfo .hotel .info a h3 {
    font-size: 29px; } }
@media screen and (min-width: 411px) and (max-width: 767px) {
  #rightSide .header h3 {
    font-size: 29px !important;
    padding-bottom: 5%; }
  #rightSide .headerBtn button {
    font-size: 12px !important;
    width: 49% !important; }
  #rightSide .hotelList .hotelInfo .hotel .info a h3 {
    font-size: 33px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #rightSide .header h3 {
    font-size: 32px !important;
    padding-bottom: 5%; }
  #rightSide .headerBtn button {
    font-size: 12px !important;
    width: 49% !important; }
  #rightSide .hotelList .hotelInfo .hotel .info p {
    padding-bottom: 10% !important; }
  #rightSide .hotelList .hotelInfo .hotel .info a h3 {
    font-size: 26px; } }
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  #rightSide .header h3 {
    font-size: 32px !important;
    padding-bottom: 5%; }
  #rightSide .headerBtn button {
    font-size: 12px !important;
    width: 49% !important; }
  #rightSide .hotelList .hotelInfo .hotel .info p {
    padding-bottom: 7.5% !important; }
  #rightSide .hotelList .hotelInfo .hotel .info a h3 {
    font-size: 26px; } }

/*# sourceMappingURL=styleB2bResultList.css.map */
